## .NET
bin/
obj/
*.user
*.suo

## Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## OS files
.DS_Store
Thumbs.db

## Logs
*.log

## Environment / secrets
.env
.env.*
appsettings.*.local.json
